footer {
    background-color: #f6f9fa;
    >div {
        margin: 0 auto;
        padding: 40px 0 80px 0;
        width: 1160px;
    }
}
.footer-top {
    height: 112px;
    font-size: 14px;
    margin-bottom: 25px;
    >li {
        float: left;
        width: 360px;
        height: 112px;
        padding: 0 40px;
        >table {
            height: 95px;
            width: 100%;
            >tbody {
                >tr {
                    vertical-align: top;
                    >th {
                        font-weight: normal;
                    }
                    >td {
                        >a {
                            transition: all .2s;
                        }
                        >a:hover {
                            color: #00a1d6;
                        }
                    }
                }
                >tr:first-child {
                    height: 35px;
                    color: #99a2aa;
                }
            }
        }
    }
    >li:first-child {
        padding-left: 0;
    }
    >li:nth-child(2) {
        border-left: solid 1px #e5e9ef;
        border-right: solid 1px #e5e9ef;
        >table {
            height: 112px;
            >tbody>tr:first-child {
                height: 30px;
            }
        }
    }
    >li:last-child {
        width: 270px;
        height: 80px;
        padding-right: 0;
        >ul {
            width: 270px;
            height: 80px;
            >li {
                float: left;
                width: 82px;
                height: 80px;
                >a {
                    position: relative;
                    display: block;
                    height: 80px;
                    text-align: center;
                    >span {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        background: url(../img/icons.png) -1024px -194px no-repeat;
                    }
                    >p {
                        height: 20px;
                        transition: all .2s;
                    }
                    >div {
                        display: none;
                        position: absolute;
                        top: -150px;
                        left: -26px;
                        width: 130px;
                        height: 130px;
                        line-height: 130px;
                        font-size: 0;
                        background: #fff;
                        border: 1px solid #e5e9ef;
                        >img {
                            vertical-align: middle;
                        }
                    }
                    >div:after {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 14px;
                        bottom: -14px;
                        left: 50%;
                        margin-left: -8px;
                        background: url(../img/bsj.png) no-repeat;
                    }
                }
            }
            >li:nth-child(2) {
                >a {
                    >span {
                        background-position: -1024px -322px;
                    }
                }
            }
            >li:last-child {
                >a {
                    >span {
                        background-position: -1024px -66px;
                    }
                    >div {
                        top: -168px;
                        left: -90px;
                        width: 258px;
                        height: 148px;
                        line-height: 148px;
                    }
                }
            }
            >li:hover {
                color: rgb(0, 161, 214);
                >a {
                    >span {
                        background-position: -1090px -194px;
                    }
                    >div {
                        display: block;
                    }
                }
            }
            >li:nth-child(2):hover {
                >a {
                    >span {
                        background-position: -1090px -322px;
                    }
                }
            }
            >li:last-child {
                >a {
                    >span {
                        background-position: -1090px -66px;
                    }
                }
            }
        }
    }
}
.footer-bottom {
    overflow: hidden;
    >div,
    >ul {
        float: left;
    }
    >div {
        width: 100px;
        height: 121px;
        >span {
            display: inline-block;
            width: 100px;
            height: 80px;
            overflow: hidden;
        }
        >a {
            display: block;
            height: 38px;
            background: url(../img/websafe.png) no-repeat;
            animation: ftrBtmDivAAnmt 4s infinite alternate;
        }
        @keyframes ftrBtmDivAAnmt {
            0% {
                background-image: url(../img/websafe.png);
            }
            50% {
                background-image: url(../img/confirm.png);
            }
            100% {
                background-image: url(../img/websafe.png);
            }
        }
    }
    >ul {
        margin-left: 15px;
        width: 990px;
        color: #99a2aa;
        >li {
            height: 24px;
            position: relative;
            a {
                transition: all .2s;
            }
            a:hover {
                color: black;
            }
            >ul {
                position: absolute;
                bottom: 0;
                overflow: hidden;
                >li {
                    float: left;
                    padding: 0 6px;
                    border-left: 1.2px solid #99a2aa;
                }
                >li:first-child {
                    padding-left: 0;
                    border-left-width: 0;
                }
                >li:last-child {
                    padding-right: 0;
                }
            }
            >a {
                position: absolute;
                bottom: 0;
            }
        }
        >li:nth-child(3) {
            >ul {
                >li:first-child {
                    >a:before {
                        vertical-align: middle;
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 13px;
                        background: url(../img/icons.png) -1367px -89px no-repeat;
                    }
                }
                >li:nth-child(3) {
                    >a {
                        padding-left: 15px;
                        background: url(../img/beiantubiao.png) no-repeat;
                    }
                }
            }
        }
        >li:nth-child(4) {
            >a {
                >img {
                    vertical-align: text-top;
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
}